* {
    background-color: antiquewhite;
}

.App {
}

.conteiner  {
    margin: 60px 400px;
}

.title {
    font-size: 50px;
    margin:auto;
    border: 2px solid aqua;
    max-width: 300px;
    border-radius: 20px;
    padding-left: 20px;
}

.taskInput {
    margin: 20px 40px;
    width: 400px;
    font-size: 34px;
}


